@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;700&display=swap');

.container {
  display: grid;
  grid-template-columns: 200px 2fr;
  min-height: 100vh;
  font-family: 'KoHo', sans-serif;
}

.sidebar {
  background-color: rgb(192, 152, 117);
  color: white;
  /* border-right: 2px solid black; */
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(65, 56, 53);
}

ul {
  padding: 5px;
}

li {
  list-style: none;
  padding: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 5px;
}

.images {
  max-height: 200px;
}

.card { 
  padding: 5px;

}

.home {
  display: flex;
  flex-direction: column;
  max-width: 80vh;
  justify-content: center;
  margin: auto;
}

.about {
  padding: 20px;
}
/* 
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  .topnav a {
    float: none;
    width: 100%;
  }
  
} */